/* Fonts */
/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* PrimeReact */
@import "primereact/resources/primereact.min.css";
/* @import "primereact/resources/themes/lara-light-indigo/theme.css"; */
@import "./assets/capstonePrimeReactTheme.css";
@import "primeicons/primeicons.css";

/* Full calendar */

/* Leaflet Map */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply font-satoshi relative z-1 bg-whiten text-base font-normal text-body;
  }
} */

#tree > svg {
  background-color: #f0f0f0;
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-gutter {
    scrollbar-gutter: stable;
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }

  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

.fc-event,
.fc-v-event {
  background-color: #84985a;
  border: 1px solid #84985a;
  transition: background-color 0.3s ease;
}

.fc-event.observation,
.fc-v-event.observation {
  background-color: #0f3360;
  border: 1px solid #0f3360;
}

.fc-event.training,
.fc-v-event.training {
  background-color: #6c0063;
  border: 1px solid #6c0063;
}

.fc-event.cusfeeding,
.fc-v-event.cusfeeding {
  background-color: #087e8b;
  border: 1px solid #087e8b;
}

.fc-event.empfeeding,
.fc-v-event.empfeeding {
  background-color: #cc5a71;
  border: 1px solid #cc5a71;
}

.fc-event.enrichment,
.fc-v-event.enrichment {
  background-color: #976405;
  border: 1px solid #976405;
}

.fc-event.empAbs,
.fc-v-event.empAbs {
  background-color: #494249;
  border: 1px solid #0e383d;
}

/* 
.fc-event:hover,
.fc-v-event:hover {
  background-color: rgba(132, 152, 90, 0.9);
} */
/* below "background" changes hover color for full calendar event pill */
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-dot-event:hover {
  background: #84985a95;
  color: #24341c;
  cursor: pointer;
}

/* Hover state styles for pills with the "observation" class */
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event.observation:hover {
  background: #0f336060;
  /* Adjust the color and opacity as needed */
  color: #24341c;
  cursor: pointer;
}

/* Hover state styles for pills with the "training" class */
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event.training:hover {
  background: #6c0063;
  /* Adjust the color and opacity as needed */
  color: #24341c;
  cursor: pointer;
}

/* Hover state styles for pills with the "enrichment" class */
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event.enrichment:hover {
  background: #97640560;
  /* Adjust the color and opacity as needed */
  color: #24341c;
  cursor: pointer;
}

/* Hover state styles for pills with the "enrichment" class */
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event.cusfeeding:hover {
  background: #4000ff60;
  /* Adjust the color and opacity as needed */
  color: #24341c;
  cursor: pointer;
}

/* Hover state styles for pills with the "enrichment" class */
.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event.empfeeding:hover {
  background: #960069;
  /* Adjust the color and opacity as needed */
  color: #24341c;
  cursor: pointer;
}

.fc.fc-theme-standard
  .fc-view-harness
  .fc-event.fc-daygrid-dot-event.empAbs:hover {
  background: #00000060;
  /* Adjust the color and opacity as needed */
  color: #57eb0e;
  cursor: pointer;
}

.p-rowgroup-header > :first-child {
  /* display: inline-block; */
  /* flex: 1; */
  /* width: 100%; */
}

.p-picklist-source-controls,
.p-picklist-target-controls {
  background-color: #ffffff;
  /* Set desired background color */
  color: #f5f9f1;
  /* Set text color */
}

/* Style the buttons */
.p-picklist-buttons button {
  background-color: #84985a;
  /* Set desired button background color */
  color: #f7fdf5;
  /* Set button text color */

  transition: background-color 0.2s;
}

.p-picklist-buttons button:hover {
  background-color: #ff000080;
  /* Set desired hover background color */
}

/* Leaflet Map */
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #f7fdf5;
  /* background-color: red; */
}

.leaflet-control {
  z-index: 0 !important;
}

.leaflet-pane {
  z-index: 0 !important;
}

.selected-icon {
  /* Define the styles for selected markers here */
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  filter: invert(7%) sepia(92%) saturate(4329%) hue-rotate(343deg)
    brightness(91%) contrast(94%);
}

/* animations */
@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
